# Analyzing Utah Avalanche Data

**Participant ID:**  
**Date / Time:**

## Introduction
Welcome to our data analysis study. For this part of the study, you'll be working with a dataset sourced from the [Utah Avalanche Center](https://utahavalanchecenter.org/). The data provides insights into [avalanche occurrences](https://utahavalanchecenter.org/avalanches) in Utah.

#### Persist

- The PersIst extension is already installed and enabled in this notebook.
- To familiarize yourself with its functionalities, please refer to the provided [tutorial notebook](../tutorial.ipynb).
- Interactive charts and tables have been pre-created for your convenience. These can be directly utilized by running the corresponding cells.
- Focus on leveraging the interactive capabilities of Persist for your analysis.

#### Pandas

- Pandas is set up and ready for use, along with other Python libraries such as Matplotlib, Seaborn, and Altair for data visualization.
- You are allowed to use internet resources like documentation and forums, including Stack Overflow, to assist you in completing the tasks.

## Tasks Overview

In this study, you are presented with three fundamental data analysis tasks. Each task is designed to test different aspects of data analysis and manipulation.

- Carefully follow the step-by-step instructions provided for each task.
- As you work through the tasks, take note of any interesting findings or challenges you encounter.
- Feel free to add new code and markdown cells in the notebook as necessary to complete the tasks.
- Document your findings and any challenges faced during the analysis in markdown cells. This can include observations about the data, any issues encountered, and your overall experience with the task/method.

**Support**
- If you require assistance or need further clarification on any of the tasks, please let us know.
- If you find yourself stuck on a task and feel that you will not make any progress, you have the option to skip the task.

In [1]:

import pandas as pd


import altair as alt

import persist_ext as PR

PR.dev.DEV = True

## Data Description

The table below describes the different columns in the dataset. Each row in the dataset represents a reported avalanche with details on location, trigger, and aspect. The data spans multiple years, starting from 2004 up to 2023.

| Column          | Description                                                    |
|-----------------|----------------------------------------------------------------|
| Date            | Date on which the avalanche was recorded                       |
| Region          | Region in Utah where the avalanche occurred                    |
| Place           | Exact location where the avalanche was recorded                |
| Trigger         | Cause of the avalanche                                         |
| Weak Layer      | Layer of snow that was weakest and likely to fail              |
| Depth_inches    | Depth of the avalanche in inches                               |
| Width_inches    | Width of the avalanche in inches                               |
| Vertical_inches | Vertical distance covered by the avalanche in inches           |
| Aspect          | Direction of the slope where the avalanche occurred            |
| Elevation_feet  | Elevation of the location in feet                              |
| Coordinates     | Approximate geographical coordinates of the avalanche location |
| Comments 1      | Additional comments provided by the reporter                   |

In [2]:
df = pd.read_csv('./avalanches_data.csv')
df

,Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,;Aspect,Elevation_feet,Coordinates,Comments 1
0,11/9/2012,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...
1,11/11/2012,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...
2,11/11/2012,Salt Lake,Two Dogs,Skier,Facets,36.0,840.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...
3,11/11/2012,Salt Lake,Emma Ridges,Skier,New Snow,18.0”,600.0,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...
4,11/11/2012,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...
...,...,...,...,...,...,...,...,...,...,...,...,...
2387,4/22/2023,Salt Lake,Cardiff Bowl,Unknown,New Snow/Old Snow Interface,8.0,720.0,1800.0,East,9800.0,"40.592721660567, -111.649613218710",We spent the day skiing the southerly-facing a...
2388,4/22/2023,Logan,"Miller Bowl, East",Snowmobiler,New Snow/Old Snow Interface,18.0,540.0,4800.0,North,8700.0,"41.886233332343, -111.645074831510","Not sure about the story here, but we observed..."
2389,4/22/2023,Logan,Millville Peak,Snowboarder,New Snow/Old Snow Interface,12.0,3600.0,7200.0,North,8900.0,"41.677564539953, -111.718065248970",Details are a bit limited and we're not sure w...
2390,5/7/2023,Salt Lake,Red Top Mountain,Natural,Unknown,72.0,3000.0,12000.0,West,10800.0,"40.546874131921, -111.663880335390",Saw this avalanche around 9.30 AM from the top...
2391,5/9/2023,Salt Lake,Microwave,Skier,Unknown,6.0,300.0,2400.0,West,10000.0,"40.589449603656, -111.613240229200",Intentionally triggered during a ski cut. Ran ...

# Task 1: Column Names and Data Types

In the first task we will perform some basic data cleaning operations to get our dataset ready for further tasks.

### **Task 1a: Remove Columns**

#### **Objective**
Remove certain columns to streamline the dataset for further analysis.
- **_Comments 1:_** Contains textual comments not crucial for quantitative analysis.
- **_Coordinates:_** Detailed location data not needed for the current scope of analysis.

#### Persist

#### **Instructions**
1. **Column Removal:**
	- Use the interactive table feature in PersIst to remove the specified columns.
2. **Generate dataframe:**
	- Assign the modified dataframe to variable `df_task_1a`
3. **Show Output:**
	- Print the head of `df_task_1a` to show the changes.

In [4]:
PR.PersistTable(df, df_name="current_df")

PersistWidget(data_values=[{'__id_column': '1', 'Date': 1352419200000, ';Region': 'Salt Lake', 'Place': 'Sunse…

In [7]:
final_df.head()

,Date,;Region,Place,Trigger,Weak Layer,Depth_inches,Width_inches,Vertical_inches,;Aspect,Elevation_feet
2337,2023-03-24,Provo,Dry Creek,Natural,Unknown,144.0,2400,7200.0,West,8000.0
954,2014-01-20,Uintas,Whitney Basin,Snowmobiler,Depth Hoar,144.0,4800,9600.0,East,10500.0
1027,2014-02-22,Uintas,Chalk Creek,Natural,Ground Interface,144.0,3000,4800.0,Northeast,10600.0
1023,2014-02-18,Uintas,Upper Weber Canyon,Natural,Ground Interface,144.0,8400,18000.0,Northeast,10400.0
997,2014-02-13,Uintas,Upper Weber Canyon,Natural,Ground Interface,120.0,6000,8400.0,Northeast,10400.0

In [6]:
no_coordinates_df.head()

,Date,;Region,Place,Trigger,Weak Layer,Depth_inches,Width_inches,Vertical_inches,;Aspect,Elevation_feet,Coordinates,is_selected
2213,2023-01-15,Salt Lake,west porter,Natural,New Snow/Old Snow Interface,8.0,12000,3600.0,Southeast,7800.0,"40.678961933418, -111.716829287070",False
292,2010-02-13,Salt Lake,west porter,Snowboarder,Unknown,6.0,600,4200.0,North,8500.0,"40.673152000000, -111.718383000000",False
345,2010-02-27,Salt Lake,west porter,Skier,Unknown,12.0,360,600.0,North,9600.0,"0.000000000000, 0.000000000000",False
2208,2023-01-15,Salt Lake,west porter,Natural,New Snow,12.0,7200,7200.0,East,9500.0,"40.667944246291, -111.723060595090",False
813,2012-03-03,Salt Lake,west porter,Unknown,Unknown,30.0,3600,6000.0,Northeast,9500.0,"0.000000000000, 0.000000000000",False

In [5]:
removed_nulls_df.head()

,Date,;Region,Place,Trigger,Weak Layer,Depth_inches,Width_inches,Vertical_inches,;Aspect,Elevation_feet,Coordinates
0,2012-11-09,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960,360.0,North,10400.0,"40.577977000000, -111.595817000000"
1,2012-11-11,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200,1200.0,North,9700.0,"40.592619000000, -111.616099000000"
2,2012-11-11,Salt Lake,Two Dogs,Skier,Facets,36.0,840,5400.0,North,10200.0,"40.599291000000, -111.642315000000"
3,2012-11-11,Salt Lake,Emma Ridges,Skier,New Snow,18.0”,600,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000"
4,2012-11-11,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000,9600.0,North,10400.0,"40.578590000000, -111.595087000000"

In [ ]:
df_task_1a.head()

#### Pandas

#### **Instructions**
1. **Column Removal:**
	- Remove the specified columns using Pandas commands.
2. **Generate dataframe:**
	- Assign the modified dataframe to variable `df_task_1a`
3. **Show Output:**
	- Print the head of `df_task_1a` to show the changes.

In [ ]:
df.head()

In [ ]:
df_task_1a = df.drop(columns=["Comments 1", "Coordinates"])

df_task_1a.head()

### **Task 1b: Fix Column Names**

#### **Objective**
For this subtask, we will focus on fixing column names to ensure consistency and clarity. We'll start by identifying the issues with the column names, specifically targeting those with a `;` prefix that needs removal.

#### Persist

#### **Instructions**
1. **Rename Columns:**
    - Use the interactive  table in Persist to correct the column names by removing the leading `;` from their names:
        - _;Aspect_ → _Aspect_
        - _;Region_ → _Region_
        - _;Trigger_ → _Trigger_
        - _;Weak Layer_ → _Weak Layer_
2. **Generate dataframe:**
    - Assign the revised dataframe to the variable `df_task_1b`.
3. **Show Output:**
    - Display the head of `df_task_1b` to verify the changes.

In [ ]:
PR.PersistTable(df_task_1a, df_name="df_task_1b")

In [ ]:
df_task_1b.head()

#### Pandas

#### **Instructions**
1. **Rename Columns:**
    - Employ Pandas commands to rename the columns, eliminating the leading ";" as specified:
        - _;Aspect_ → _Aspect_
        - _;Region_ → _Region_
        - _;Trigger_ → _Trigger_
        - _;Weak Layer_ → _Weak Layer_
2. **Generate dataframe:**
    - Assign the updated dataframe to variable `df_task_1b`.
3. **Show Output:**
    - Print the head of `df_task_1b` to confirm the updated column names.

In [ ]:
df_task_1a.head()

In [ ]:
# Renaming columns to remove the leading ';'
df_task_1b = df_task_1a.rename(columns={
    ";Region": "Region",
    ";Trigger": "Trigger",
    ";Weak Layer": "Weak Layer",
    ";Aspect": "Aspect",
})

df_task_1b.head()

## **Task 1c: Correcting Data Type of 'Depth_inches'**

#### **Objective**
In this task, we will address a data type issue in the `Depth_inches` column of our dataframe. This column is incorrectly formatted as a object (string) due to the presence of the inches symbol `"`.

Remove any inches symbols `"` from the `Depth_inches` column and convert it to a float data type.

In [ ]:
df_task_1b.dtypes

### **Persist**

#### **Instructions**
1. **Identify Entries with Inches Symbol:**
    - Use the interactive table in Persist to look for rows with `"` in `Depth_inches` column
2. **Edit and Correct Entries:**
    - Edit the cells to remove the inches symbol from these entries. (e.g. `15"` → `15`) 
3. **Convert Data Type:**
    - Change the data type of the `Depth_inches` column from string to float.
4. **Generate Dataframe:**
    - Assign the modified dataframe to a variable `df_task_1c`.
5. **Show Output:**
    - Display the dtypes of `df_task_1c` to verify the data type correction.

In [ ]:
PR.PersistTable(df_task_1b)

In [ ]:
df_task_1c.head()

In [ ]:
df_task_1c.dtypes

### **Pandas**

#### **Instructions**

1. **Remove Inches Symbol and Correct Format:**
    - Use Pandas to replace the inches symbol in the `Depth_inches` column.
2. **Convert Data Type:**
    - Convert the `Depth_inches` column to float.
3. **Generate Dataframe:**
    - Save the updated dataframe as `df_task_1c`.
4. **Show Output:**
    - Print the dtypes of `df_task_1c` to confirm the changes.

In [ ]:
df_task_1b.dtypes

In [ ]:
df_task_1c = df_task_1b
df_task_1c["Depth_inches"] = df_task_1c["Depth_inches"].str.replace('"', '')
df_task_1c["Depth_inches"] = df_task_1c["Depth_inches"].astype("Float64")

In [ ]:
df_task_1c.dtypes

# Task 2: Filtering data

In Task 2, we further improve our data by removing outliers and removing certain records to have more consistent data. 

We will also take a brief look at relations between cause of an avalanche (`Trigger`) and failure point of ice (`Weak Layer`)

## **Task 2a: Remove Outliers**

#### **Objective**
In this task, we address data accuracy by filtering out anomalies in elevation data. We observe some records with elevations outside the plausible range for Utah, suggesting recording errors.

Remove avalanche records with elevations below 2000 feet and above 13500 feet, which are outside the realistic range for Utah.

#### Persist

#### **Instructions**
1. **Identify and Remove Anomalies:**
    - Interactively select data points with elevations below 2100 feet and above 13500 feet in the Persist Scatterplot.
    - Use Persist's interactive features to remove these anomalous records.
2. **Generate Dataframe:**
    - Assign the cleaned dataframe to a variable `df_task_2a`.
3. **Show Output:**
    - Display the head of `df_task_2a`.

In [ ]:
PR.plot.scatterplot(df_task_1c, "Elevation_feet:Q", "Vertical_inches:Q")

In [ ]:
df_task_2a.head()

#### Pandas

#### **Instructions**
1. **Locate Anomalous Data:**
    - Refer to the _seaborn_ scatterplot for `Elevation_feet` vs `Vertical_inches`
    - Write code to identify records where `Elevation_feet` is either below 2100 feet or above 13500 feet.
3. **Remove Anomalies:**
    - Use Pandas commands to filter out these anomalous records from the dataframe.
4. **Generate Dataframe:**
    - Save the cleaned dataframe as `df_task_2a`.
5. **Plot Output:**
    - Recreate the scatterplot from step 1 in a new cell using `df_task_2a`.
    - Print the head of `df_task_2a`.

In [ ]:
df_task_2a = df_task_1c

plt.figure(figsize=(7, 5))
sns.scatterplot(data=df_task_2a, x='Elevation_feet', y='Vertical_inches')

plt.xlabel('Elevation (feet)')
plt.ylabel('Vertical Distance (inches)')

# Display the plot
plt.show()

In [ ]:
df_task_2a = df_task_1c[(df_task_1c['Elevation_feet'] >= 2100) & (df_task_1c['Elevation_feet'] <= 13500)]
df_task_2a.head()

In [ ]:
plt.figure(figsize=(7, 5))
sns.scatterplot(data=df_task_2a, x='Elevation_feet', y='Vertical_inches')

plt.xlabel('Elevation (feet)')
plt.ylabel('Vertical Distance (inches)')

# Display the plot
plt.show()

## **Task 2b: Filtering Out Old Data**

The interactive barchart below, shows the data aggregated by year. There are noticeably fewer records for the years before 2010.

During this subtask we will remove the older records, keeping only the records post 2010.

### Persist

#### **Instructions**
1. **Create and Analyze Bar Chart:**
    - Looking at an interactive bar chart in Persist showing the number of avalanches recorded each year, identify the bars showing data we want.
2. **Interactive Year Selection:**
    - Use a brush to interactively select and remove appropriate records.
3. **Generate Dataframe:**
    - Assign the refined dataframe to a variable `df_task_2b`.
4. **Show Output:**
    - Display the head of `df_task_2b` to verify the removal of earlier years.

In [ ]:
PR.plot.barchart(df_task_2a, "utcyear(Date):O", "count()", selection_type="interval")

In [ ]:
df_task_2b.head()

### Pandas

#### **Instructions**
1. **Create Bar Chart with Seaborn:**
    - Use the Seaborn plot with bar chart visualizing the number of avalanches per year. 
2. **Identify Sparse Years:**
    - Based on the bar chart, identify years before 2010 with fewer avalanche records.
3. **Code to Filter Out Sparse Years:**
    - Write Pandas code to exclude these years from the dataset.
4. **Show Output:**
    - Print the head of `df_task_2b` and optionally recreate the bar chart to show the dataset focusing on years 2010 and onwards.

In [ ]:
df_task_2b = df_task_2a
df_task_2b = df_task_2b.convert_dtypes()

plt.figure(figsize=(10, 5))
sns.countplot(x=df_task_2b["Date"].dt.year)

plt.xlabel('Year')
plt.ylabel('# of records')

# Display the plot
plt.show()

In [ ]:
df_task_2b = df_task_2b[df_task_2b["Date"].dt.year >= 2010]
df_task_2b.head()

In [ ]:
plt.figure(figsize=(10, 5))
sns.countplot(x=df_task_2b["Date"].dt.year)

plt.xlabel('Year')
plt.ylabel('# of records')

# Display the plot
plt.show()

In [ ]:
df_task_2b.head()

## **Task 2c: Identifying frequently failing `Weak Layers` for avalanches triggered by _'snowboarders'_ and _'skiers'_**

### Persist

#### **Instructions**
1. **Linked Bar Charts:**
    - You will start with two linked interactive bar charts: one for `Trigger` and another for `Weak Layer`.
    - Both bar charts show `count` for their respective category.
    - You can click on a trigger in the `Trigger` bar chart and the `Weak Layer`' bar chart dynamically updates to show only occurrences corresponding to the selected triggers.
2. **Interactive Selection:**
    - Interactively select triggers and use the updated `Weak Layer`.
3. **Identify the most frequent failure point:**
    - Analyze the filtered 'Weak Layer' bar chart to determine the most frequently failed layers for selected category and make a note in a markdown cell about both the name of the layer and frequency.
4. **Generate Dataframe and Output:**
    - You will not generate any dataframe for this task. NOTE: Please save the notebook after you are finsihed with interactions.

In [ ]:
pts = alt.selection_point(name="selector", fields=['Trigger'])

base = alt.Chart(df_task_2b).encode(y="count()")

trigger = base.mark_bar().encode(
    x="Trigger:N",
    color=alt.condition(pts, "Trigger:N", alt.value("gray"))
).add_params(pts)

weak_layer = base.mark_bar().encode(
    x="Weak Layer:N",
    color="Weak Layer:N",
    tooltip="count()"
).transform_filter(
    pts
)

chart = alt.hconcat(
    trigger, weak_layer
).resolve_scale(
    color="independent",
)

PR.PersistChart(chart, data=df_task_2b)

**Task 2c Notes:**

- Snowboarder -> New snow/old snow interface (31)
- Skiers -> Facets (261)

### Pandas

#### **Instructions**
1. **Identify Predominant Weak Layer:**
    - Determine the most common weak layer for these `Snowboarder` and `Skier` triggers for the data.
2. **Output:**
    - Note in markdown cell both the name of the layer and frequency for each of the above trigger.

In [ ]:
df_task_2b.head()

In [ ]:
snowboarders = df_task_2b[df_task_2b["Trigger"] == "Snowboarder"]
snowboarders.head()

In [ ]:
skiers = df_task_2b[df_task_2b["Trigger"] == "Skier"]
skiers.head()

In [ ]:
snowboarders["Weak Layer"].value_counts().sort_values(ascending=False)

In [ ]:
skiers["Weak Layer"].value_counts().sort_values(ascending=False)

- snowboarders -> New Snow/Old Snow Interface    (31)
- skiers -> Facets                         (261)

## Task 3: Data Wrangling

### Task 3a: Creating and assigning 'Avalanche Season'**

#### **Objective**

In this subtask, we'll introduce a new categorical variable named `Avalanche Season` into our dataset. This addition aims to classify each avalanche record into different parts of the avalanche season (Start, Middle, End) based on the month it occurred.

Create a new category `Avalanche Season` in the dataset and assign each record to `Start`, `Middle`, or `End` of the avalanche season based on its month.

### Persist

#### **Instructions**
1. **Visualization**
    - We will work with an interactive bar chart in Persist showing the count of avalanche instances aggregated by month.
2. **Define Season Categories:**
    - Based on typical avalanche seasons in Utah, you will first create a new category called `Avalanche Season` using the `Edit Categories` button in the header.
    - In the same menu you will add three options for this category -- `Start`, `Middle`, `End`.
3. **Interactive Assignment:**
    - Use Persist's interactive features to select each month and assign it to one of the `Avalanche Season` values (Start, Middle, End).
    - You should use the following ranges for assigning proper categories:
        - `Start` of Season: October, November, December, January, February
    	- `Middle` of Season: March, April, May,
    	- `End` of Season: June, July, August, September
4. **Generate Dataframe:**
    - Assign the updated dataset to a new variable: `df_task_3a`.
5. **Show Output:**
    - Print the head of the dataframe.

In [ ]:
select = alt.selection_interval(name="selector", encodings=["x"])

chart = alt.Chart(df_task_2b, height=400, width=500).mark_bar().encode(
    x=alt.X("utcmonth(Date):N"),
    y="count()",
    opacity=alt.condition(select, alt.value(1), alt.value(0.2))
).add_params(select)

PR.PersistChart(chart, data=df_task_2b)

In [ ]:
df_task_3a.head()

### **Pandas**

#### **Instructions**
1. **Create New Variable:**
    - Add a new column `Avalanche Season` to the DataFrame.
2. **Assign Category:**
    - Using the `month` from the `Date` column assign proper values to the new category.
    - You should use the following ranges for assigning proper categories:
        - `Start` of Season: October, November, December, January, February
    	- `Middle` of Season: March, April, May,
    	- `End` of Season: June, July, August, September
3. **Generate Dataframe:**
    - Save the modified DataFrame with the new `Avalanche Season` category to `df_task_3a`.
4. **Show Output:**
    - Display the head of `df_task_3a` to confirm the addition and categorization of the new variable.

In [ ]:
df_task_3a = df_task_2b.copy()

In [ ]:
df_task_3a["Avalanche Season"] = "End"

In [ ]:
df_task_3a.head()

In [ ]:
df_task_3a.loc[df_task_3a["Date"].dt.month.isin([10,11,12,1,2]), "Avalanche Season"] = "Start"
df_task_3a.loc[df_task_3a["Date"].dt.month.isin([3,4,5]), "Avalanche Season"] = "Middle"

df_task_3a.head()

# **Task 3b:## **Analyzing Top Avalanche Trigger by Season**

#### **Objective**
In this subtask, we'll analyze which trigger is most prevalent for avalanches in each season phase (Start, Middle, End) using the `Avalanche Season` category created in Task 3a.

### **Persist**

#### **Instructions**
1. **Visualization:**
    - We have two linked interactive bar charts: one for 'Avalanche Season' and another for 'Trigger'.
    - You can select a category to highlight using the legend for `Avalanche Season` bar chart. The `Trigger` bar chart will dynamically update in response to your selections.
2. **Analyze Trigger Data:**
    - Observe the filtered `Trigger` bar chart to identify the top trigger for the selected season phase.
    - You can hover on the bars to get the exact frequency.
3. **Document Findings:**
    - Note down the most common trigger for each season phase based on your interactive analysis in a new markdown cell.

In [ ]:
selection = alt.selection_point(name="selector", fields=["Avalanche Season"], bind="legend")
base = alt.Chart(df_task_3a)

seasons = base.mark_bar().encode(
    x=alt.X("Avalanche Season:N").sort(["Start", "Middle", "End"]),
    y="count()",
    opacity=alt.condition(selection, alt.value(1), alt.value(0.3)),
    color="Avalanche Season:N"
).add_params(
    selection
)

trigger = base.mark_bar().encode(
    x="Trigger:N",
    y="count()",
    color="Trigger:N",
    tooltip="count()"
).transform_filter(
    selection
)

chart = seasons | trigger

chart = chart.resolve_scale(
    color="independent"
)

PR.PersistChart(chart)

**Task 3b Notes:**

- Start of season -> Skiers (591)
- Middle of season -> Natural (260)
- End of season -> Skiers (2)

### **Pandas**

#### **Instructions**
1. **Analyze Triggers by Season:*
	- Determine the most common trigger for each season.
2. **Present Findings:**
	- Note in markdown cell both the name and frequency for each trigger.

In [ ]:
grouped_size_df = df_task_3a[["Avalanche Season", "Trigger", "Date"]].groupby(["Avalanche Season", "Trigger"]).size().reset_index(name="counts")

grouped_size_df.sort_values(["Avalanche Season", "counts"], ascending=[True, False])

**Notes:**
- End ->	Skier	(2)
- Middle ->	Natural	(260)
- Start ->	Skier	(591)