In [81]:
import pandas as pd

In [82]:
df_o = pd.read_csv("./avalanches_cleaned_.csv")
df = df_o.copy(deep=True)
df.head()

,;Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,Aspect,Elevation_feet,Coordinates,Comments 1
0,2012-11-09,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...
1,2012-11-11,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...
2,2012-11-11,Salt Lake,Two Dogs,Skier,Facets,36.0,840.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...
3,2012-11-11,Salt Lake,Emma Ridges,Skier,New Snow,18.0,600.0,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...
4,2012-11-11,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...

In [83]:
df["D"] = df[";Date"]
df.head()

,;Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,Aspect,Elevation_feet,Coordinates,Comments 1,D
0,2012-11-09,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...,2012-11-09
1,2012-11-11,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...,2012-11-11
2,2012-11-11,Salt Lake,Two Dogs,Skier,Facets,36.0,840.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...,2012-11-11
3,2012-11-11,Salt Lake,Emma Ridges,Skier,New Snow,18.0,600.0,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...,2012-11-11
4,2012-11-11,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...,2012-11-11

In [84]:
def fn(d):
    d_parts = d.split("-")
    d = f"{d_parts[1]}-{d_parts[2]}-{d_parts[0]}"
    return d

df.D = df[";Date"].apply(fn)
df[[";Date", "D"]].head()

        ;Date           D
0  2012-11-09  11-09-2012
1  2012-11-11  11-11-2012
2  2012-11-11  11-11-2012
3  2012-11-11  11-11-2012
4  2012-11-11  11-11-2012

In [85]:
df.convert_dtypes().head()

,;Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,Aspect,Elevation_feet,Coordinates,Comments 1,D
0,2012-11-09,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14,960,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...,11-09-2012
1,2012-11-11,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30,1200,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...,11-11-2012
2,2012-11-11,Salt Lake,Two Dogs,Skier,Facets,36,840,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...,11-11-2012
3,2012-11-11,Salt Lake,Emma Ridges,Skier,New Snow,18,600,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...,11-11-2012
4,2012-11-11,Salt Lake,Sunset Peak,Skier,Facets,42,18000,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...,11-11-2012

In [86]:
df.D = pd.to_datetime(df.D)
df.dtypes

;Date                      object
;Region                    object
Place                      object
;Trigger                   object
;Weak Layer                object
Depth_inches              float64
Width_inches              float64
Vertical_inches           float64
Aspect                     object
Elevation_feet            float64
Coordinates                object
Comments 1                 object
D                  datetime64[ns]
dtype: object

In [87]:
df.D = df.D.apply(lambda x: f"{x.month}/{x.day}/{x.year}")
df

,;Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,Aspect,Elevation_feet,Coordinates,Comments 1,D
0,2012-11-09,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...,11/9/2012
1,2012-11-11,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...,11/11/2012
2,2012-11-11,Salt Lake,Two Dogs,Skier,Facets,36.0,840.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...,11/11/2012
3,2012-11-11,Salt Lake,Emma Ridges,Skier,New Snow,18.0,600.0,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...,11/11/2012
4,2012-11-11,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...,11/11/2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,2023-04-22,Salt Lake,Cardiff Bowl,Unknown,New Snow/Old Snow Interface,8.0,720.0,1800.0,East,9800.0,"40.592721660567, -111.649613218710",We spent the day skiing the southerly-facing a...,4/22/2023
2388,2023-04-22,Logan,"Miller Bowl, East",Snowmobiler,New Snow/Old Snow Interface,18.0,540.0,4800.0,North,8700.0,"41.886233332343, -111.645074831510","Not sure about the story here, but we observed...",4/22/2023
2389,2023-04-22,Logan,Millville Peak,Snowboarder,New Snow/Old Snow Interface,12.0,3600.0,7200.0,North,8900.0,"41.677564539953, -111.718065248970",Details are a bit limited and we're not sure w...,4/22/2023
2390,2023-05-07,Salt Lake,Red Top Mountain,Natural,Unknown,72.0,3000.0,12000.0,West,10800.0,"40.546874131921, -111.663880335390",Saw this avalanche around 9.30 AM from the top...,5/7/2023
2391,2023-05-09,Salt Lake,Microwave,Skier,Unknown,6.0,300.0,2400.0,West,10000.0,"40.589449603656, -111.613240229200",Intentionally triggered during a ski cut. Ran ...,5/9/2023

In [88]:
df_o[";Date"] = df.D
df_o = df_o.rename(columns={";Date": "Date"})
df_o.head()

,Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,Aspect,Elevation_feet,Coordinates,Comments 1
0,11/9/2012,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...
1,11/11/2012,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...
2,11/11/2012,Salt Lake,Two Dogs,Skier,Facets,36.0,840.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...
3,11/11/2012,Salt Lake,Emma Ridges,Skier,New Snow,18.0,600.0,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...
4,11/11/2012,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...

In [89]:
def is_int_or_float(v):
    if isinstance(v, int) or isinstance(v, float):
        return True
    if isinstance(v, str):
        try:
            if "." in v:
                float(v)
            else:
                int(v)
            return True
        except:
            return False
    else:
        return False
        

df_o["Depth_inches"] = df_o["Depth_inches"].astype(str)
# df_o.loc[[0], ["Depth_inches"]] = "A"
df_o = df_o.convert_dtypes()

In [91]:
for c in df_o.select_dtypes(include=["string"]):
    print(c)

Date
;Region
Place
;Trigger
;Weak Layer
Depth_inches
Aspect
Coordinates
Comments 1

In [14]:
df_col_renamed = df_o.rename(columns={"Aspect": ";Aspect"})

In [15]:
df_col_renamed.to_csv("./avalanches_cleaned.csv", index=False)

,Date,;Region,Place,;Trigger,;Weak Layer,Depth_inches,Width_inches,Vertical_inches,Aspect,Elevation_feet,Coordinates,Comments 1
0,11/9/2012,Salt Lake,Sunset Peak,Snowboarder,New Snow/Old Snow Interface,14.0,960.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...
1,11/11/2012,Salt Lake,Patsy Marly,Skier,New Snow/Old Snow Interface,30.0,1200.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...
2,11/11/2012,Salt Lake,Two Dogs,Skier,Facets,36.0,840.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...
3,11/11/2012,Salt Lake,Emma Ridges,Skier,New Snow,18.0,600.0,6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...
4,11/11/2012,Salt Lake,Sunset Peak,Skier,Facets,42.0,18000.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...