In [6]:
import persist_ext as PR
import altair as alt
import pandas as pd

In [8]:
df = pd.read_csv("avalanches_data_.csv")
df.head()

,;Region,Month,Day,Year,;Trigger,;Weak Layer,Depth_inches,Vertical_inches,;Aspect,Elevation_feet,Coordinates,Comments 1
0,Salt Lake,11,9,2012,Snowboarder,New Snow/Old Snow Interface,14.0,360.0,North,10400.0,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...
1,Salt Lake,11,11,2012,Skier,New Snow/Old Snow Interface,30.0,1200.0,North,9700.0,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...
2,Salt Lake,11,11,2012,Skier,Facets,36.0,5400.0,North,10200.0,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...
3,Salt Lake,11,11,2012,Skier,New Snow,"18.0""",6000.0,Southeast,10200.0,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...
4,Salt Lake,11,11,2012,Skier,Facets,42.0,9600.0,North,10400.0,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...

In [11]:
df = df.drop(columns=["Comments 1", "Coordinates"])
df.head()

,;Region,Month,Day,Year,;Trigger,;Weak Layer,Depth_inches,Vertical_inches,;Aspect,Elevation_feet
0,Salt Lake,11,9,2012,Snowboarder,New Snow/Old Snow Interface,14.0,360.0,North,10400.0
1,Salt Lake,11,11,2012,Skier,New Snow/Old Snow Interface,30.0,1200.0,North,9700.0
2,Salt Lake,11,11,2012,Skier,Facets,36.0,5400.0,North,10200.0
3,Salt Lake,11,11,2012,Skier,New Snow,"18.0""",6000.0,Southeast,10200.0
4,Salt Lake,11,11,2012,Skier,Facets,42.0,9600.0,North,10400.0

In [16]:
df = df.query("Year >= 2010")
df.head()

,;Region,Month,Day,Year,;Trigger,;Weak Layer,Depth_inches,Vertical_inches,;Aspect,Elevation_feet
0,Salt Lake,11,9,2012,Snowboarder,New Snow/Old Snow Interface,14.0,360.0,North,10400.0
1,Salt Lake,11,11,2012,Skier,New Snow/Old Snow Interface,30.0,1200.0,North,9700.0
2,Salt Lake,11,11,2012,Skier,Facets,36.0,5400.0,North,10200.0
3,Salt Lake,11,11,2012,Skier,New Snow,"18.0""",6000.0,Southeast,10200.0
4,Salt Lake,11,11,2012,Skier,Facets,42.0,9600.0,North,10400.0

In [19]:
PR.PersistTable(df, df_name="df2")

PersistWidget(data_values=[{'__id_column': '1', ';Region': 'Salt Lake', 'Month': 11, 'Day': 9, 'Year': 2012, '…

In [22]:
df2.to_csv("avalanches_data.csv", index=False)